{% extends "base.html" %}

{%block content %}

<div class="container dirRtl my-5">
	<div class="">
		درباره ما
	</div>
	<hr>
	<div>
		هدفِ ترجمان برقرارکردن ارتباط فکری میان زبان فارسی و دیگر زبان‌های زندۀ دنیا است. اما چنین کاری در زمان حاضر که دوران فراوانی ترجمه و مترجم در میان فارسی‌زبانان است، چه اهمیتی دارد؟ ما معتقدیم هر متنی ارزش ترجمه ندارد، اما هستند متون کمتر شناخته شده و جریان‌های به حاشیه رانده شده‌ای که ترجمۀ آن‌ها دریچۀ تازه‌ای در جهان اندیشۀ امروز ایران می‌گشاید. 

فعالیت‌های ترجمان در دو بخش «انتشارات ترجمان علوم انسانی» و «سایت ترجمان» تعریف می‌شود. در سایت ترجمان مقاله‌، نوشتار، بررسی کتاب و گفت‌وگوها را قرار می‌دهیم و سپس مجموعه‌ مقاله‌ها را در قالب کتاب منتشر می‌کنیم. در انتخاب مقالات، حداکثر تلاش ما بر این است تا تنها متون دست اول، از اندیشمندان اصلی جریان‌های مهم فکری و نظری ترجمه شوند و بر خلاف بسیاری از دیگر نشریات و وبگاه‌ها، ترجیح داده‌ایم تا تعداد مقالات کمتری را با کیفیتی بالاتر و محتوایی غنی‌تر ترجمه کنیم. 

تا سال‌های پیش از این، چاپ ترجمۀ مقالات بلند در نشریات علمی ـ پژوهشی و علمی ـ ترویجی، امری رایج بود، ولی امروزه به هر دلیل، ترجمۀ این مقالات به کناری سپرده شده است. اما مهم آن است که از اهمیت این مقالات کاسته نشده است و خوانندۀ فارسی زبان محتاج دسترسی به این منابع است. از این رو، ترجمان مقالاتی را در دستور کار خود قرار داده است که نوشته‌های کلیدی و مؤثر نویسندگان اصلی در رشته‌های گوناگون علوم انسانی محسوب می‌شود. 

سایت در سامانه شاپا وابسته به کتابخانه ملی ایران، به صورت رسمی ثبت شده است و با شماره شاپای مندرج در متن PDF مقالات، امکان ارجاع به آن‌ها در متون علمی فراهم شده است. 

مدیرمسئول: مرتضی روحانی راوری 
سردبیر: مرتضی منتظری‌مقدم 
جانشین سردبیر: محمد ملاعباسی
دبیر تحریریه: سیدمحسن شجاعی 
ویراستار: سجاد سرگلی

	</div>
</div>


{% endblock %}