{% load staticfiles %}
<!DOCTYPE html>
<html>
<head>
    <title>{% block title %}{% endblock %}</title>
        <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
        <title>Gidour</title>
    <meta name="description" content="تحلیل و بررسی" />
    <meta property="og:title" content="Gidour" />
    <meta property="og:description" content="تحلیل و بررسی" />
    <meta property="og:url" content="http://farzansl.pythonanywhere.com/">
     <meta property="og:image" content="https://www.w3schools.com/w3css/img_fjords.jpg" />
     <link rel="shortcut icon" href="http://richpreview.com/favicon.ico" type="image/x-icon" />
     
</head>
<body>
    <!-- header -->
    <header class="header-footer-color" style="">
        <!-- menuTop -->

                <div class="overflow-x hidden-md-down">
            <div class="row d-flex px-2 py-2">
                <div class="col align-self-end">

                     {% if not user.is_authenticated %}
                    <a href='{% url "login" %}' class="btn btn-primary">ورود</a>
                     {% else %}
                    <a class="btn btn-primary" type="button" href='{% url "logoutUrl" %}'>خروج</a>
                     {% endif %}   
                </div>
                <div class="col d-flex justify-content-center">
                    {% block Gidour %}
                   {% endblock %}
                </div>
                <div class="col d-flex justify-content-end align-self-end text-right">
                   <div class="mx-2">
                            <a class="text-gray-dark" href='{% url "aboutusUrl" %}'>درباره ما</a>
                        </div>
                        <div class="mx-2">
                            <a class="text-gray-dark" href='{% url "contactusUrl" %}'>ارتباط با ما</a>
                        </div>
                        <div class="mx-2">
                            <a class="text-gray-dark" href='{% url "cooperationUrl" %}'>همکاری با ما</a>
                        </div>
                        {% if not user.is_authenticated %}
                        <div class="mx-2">
                            <a class="text-gray-dark" href='{% url "registerUrl" %}'>ثبت نام</a>
                        </div>
                        {% else %}
                        <div class="mx-2">
                            <a class="text-gray-dark" href='{% url "profile" %}'>پروفایل</a>
                        </div>
                        {% endif %}
                </div>
            </div>
        </div>
           
        <!-- endMenuTop -->

        <!-- menuBottom -->
        <div class="menu-justify-fullscreen">
            <!-- nav -->
            <nav class="navbar navbar-toggleable-md navbar-light menu-nav hidden-lg-up">
                <div class="d-flex justify-content-between">
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="hidden-lg-up">
                    {% if not user.is_authenticated %}
                    <a href='{% url "login" %}' class="btn btn-primary">ورود</a>
                     {% else %}
                    <a class="btn btn-primary" type="button" href='{% url "logoutUrl" %}'>خروج</a>
                     {% endif %}                    </div>
                </div>
                <!-- navbarCollapse -->
                <div class="collapse navbar-collapse" id="navbarNavDropdown">
                    <ul class="navbar-nav">
                        <li class="nav-item hidden-lg-up">
                                      <form method="GET" action="{% url 'search' %}" class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2 ml-1 dirRtl" type="text" name="q" placeholder="جست و جو" />
      <input class="btn btn-outline-success my-2 my-sm-0" type="submit" value="جست و جو" />
</form>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href='{% url "homepageUrl" %}'>صفحه اصلی</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href='{% url "aboutusUrl" %}'>درباره ما</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href='{% url "contactusUrl" %}'>ارتباط با ما</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href='{% url "cooperationUrl" %}'>همکاری با ما</a>
                        </li>
                        {% if not user.is_authenticated %}
                        <li class="nav-item">
                            <a class="nav-link" href='{% url "registerUrl" %}'>ثبت نام</a>
                        </li>
                        {% else %}
                        <li class="nav-item">
                            <a class="nav-link" href='{% url "profile" %}'>پروفایل</a>
                        </li>
                        {% endif %}
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="http://example.com" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">نقد و بررسی
                            </a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                                    {% for obj in categories %}
                                <a class="dropdown-item" href="{% url 'postsByCategoriesUrl' obj.category_name %}">{{obj.category_name}}
                                </a>
                                    {% endfor %}
                            </div>
                        </li>
                    </ul>
                </div>
                <!-- navbarCollapse -->
            </nav>
            <!-- endNav -->
        </div>
        <!-- endMenuBottom -->
    </header>
     <div class="overflow-x hidden-md-down py-2 border-top-bottom-style">
            <div class="row d-flex px-2 py-2 justify-content-between">
                    <div class="col">

                    <form method="GET" action="{% url 'search' %}" class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2 dirRtl" type="text" name="q" placeholder="جست و جو" />
      <input class="btn btn-outline-success my-2 my-sm-0" type="submit" value="جست و جو" />
</form>
                </div>
                <div class="col dirRtl">
                                                <a class="mx-2" href='{% url "homepageUrl" %}'>
                                                    <img src="{% static 'pageImages/home.png' %}">
                                                </a>

                                {% for obj in categories %}
                                <a class="mx-2 text-gray-dark font-weight-bold" href="{% url 'postsByCategoriesUrl' obj.category_name %}">{{obj.category_name}}
                                </a>
                                    {% endfor %}
                                                          </div>
                                </div>
        </div>
    <!-- endHeader -->
{% block content %}
{% endblock %}
    <!-- footer -->
    <footer class="footer header-footer-color">
        <div class="w-100 overflow-x justify-content-between d-flex p-5 text-right dirRtl">
            <div class="row">
                  <div class="d-md-flex flex-md-column mx-4 my-2">
                <div class=""><a class="text-gray-dark" href='{% url "registerUrl" %}'>ثبت نام</a></div>
                <div class=""><a class="text-gray-dark" href='{% url "aboutusUrl" %}'>درباره ما</a></div>
                <div class=""><a class="text-gray-dark" href='{% url "contactusUrl" %}'>ارتباط با ما</a></div>
                <div class=""><a class="text-gray-dark" href='{% url "cooperationUrl" %}'>همکاری با ما</a></div>
            </div>
                        <div class="d-md-flex flex-md-column mx-4 my-2">
                             {% for obj in categories %}
                <div class=""> 
                 <a class="text-gray-dark" href="{% url 'postsByCategoriesUrl' obj.category_name %}">{{obj.category_name}}
                                </a></div>{% endfor %}
            </div>
                   <div class="d-md-flex flex-md-column mx-4 my-2">
                <div class=""><a class="text-gray-dark" href=''>گوگل پلاس</a></div>
                <div class=""><a class="text-gray-dark" href=''>توئیتر</a></div>
                <div class=""><a class="text-gray-dark" href=''>اینستاگرام</a></div>
                <div class=""><a class="text-gray-dark" href=''>تلگرام</a></div>
            </div>
            </div>
            <div class="">
                               <div class="">

            <h2 class="text-white badge-default py-5 px-2 gidour-color">Gidour</h2>
            </div></div></div>
                     <div class="text-center">
             تمام حقوق محفوظ بوده و استفاده از مطالب سایت با ذکر منبع بلامانع است
            </div>
    </footer>
    <!-- endFooter -->

</body>
<script src="https://code.jquery.com/jquery-3.1.1.slim.min.js" integrity="sha384-A7FZj7v+d/sdmMqp/nOQwliLvUsJfDHW+k9Omg/a/EheAdgtzNs3hpfag6Ed950n" crossorigin="anonymous">
	
</script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous">
	
</script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous">
</script>
</html>
