<!DOCTYPE html>
<html>
    <head>
    </head>
    <body style="direction: rtl;">
        <p><h1>نام و نام خانوادگی فرستنده :</h1></p>
          <p><h3>{{ fullName }}</h3></p>
        <p><h1>تاریخ تولد :</h1></p>
        	  <p><h3>{{ birthdayDate }}</h3></p>
        <p><h1>ایمیل :</h1></p>
        	  <p><h3>{{ email }}</h3></p>
        <p><h1>تلفن همراه :</h1></p>
        	  <p><h3>{{ phonenumber }}</h3></p>
                      <p><h1>شغل :</h1></p>
          <p><h3>{{ job }}</h3></p>
        <p><h1>محل سکونت :</h1></p>
              <p><h3>{{ city }}</h3></p>
        <p><h1>جنسیت :</h1></p>
              <p><h3>{{ gender }}</h3></p>
                      <p><h1>توضیحات :</h1></p>
          <p><h3>{{ description }}</h3></p>
        
    </body>
</html>