{% extends "base.html" %}

{%block content%}

<div class="container my-5">
	{% for obj in posts %}
	<div class="row dirRtl">  <div class="d-flex align-self-center col-12 col-md-4">
    <a href="" style="height:auto;width: 100% ">
    <img class="postImage" src="{{obj.image.url}}" alt={{obg.title}} ></a></div>
  <div class="align-self-center col-12 col-md-8 ">
  <a href=""> 
  	<h5 class="mt-0">{{obj.title}}</h5></a> 
    <p>{{obj.context|safe}}</p>
    <small class="mr-3">{{obj.author}}</small>  <small>{{obj.createdDate}}</small>
  </div>

</div>
	{% endfor %}
</div>

{% endblock %}